.contacts-section{
	height: auto;
	min-height: 700px;

	background-image:url('/assets/images/staple_wall--1200x800.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
	@mixin atTall{
		min-height: 100vh;
	}

	@mixin atMedium{
		min-height: 100vh;
	}

	&__content{
		width: 100%;
		height: auto;
		display: flex;
		flex-flow:  column;
		align-items: center;
		justify-content: center;
		padding: 1.5rem 0;

		@mixin atMedium{
			flex-flow: row wrap;
			justify-content: space-around;
			padding: 0 2.5rem ;
		}

		@mixin atTall{
			margin-top: 10vh;
		}
	}

	.contact__card{
		width: auto;
		height: auto;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 1rem .5rem 1rem;
		color: white;
		text-shadow: 2px 2px 4px black;

		@mixin atSmall{
			flex-flow: row nowrap;
			justify-content: space-around;
			width: auto;
			height: auto;
			margin: 2rem 1rem;
			padding: 2rem;
			font-size: 1.2rem;
			color: black;
			text-shadow: none;
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 1px 1px 4px black;
		}

		img{
			width: 150px;
		}

		ul{
			list-style: none;

			li{
				margin: 10px 0;
			}

			li img{
				width: 75px;
			}
		}
	}

	.contacts-map{
		width: 80%;
		height: 250px;
		margin-bottom: 1rem;
		box-shadow: 1px 1px 4px black;

		@mixin atMedium{
			width: 400px;
			height: 400px;
			margin-top: 1rem;
		}
	}

	.closer{
		margin: 2rem 0;
		font-size: 2.5rem;
		color: white;
		text-shadow: 2px 2px 4px black;
		font-family: Bebas;
		word-spacing: 10px;

		@mixin atSmall{
			font-size: 3.5rem;
		}
	}
}

.contacts-section li.buzz:hover i{
	animation: buzzing 1s ease-in-out 0s infinite;
}

.contacts-section li.lift{

	a{
		margin-left: 20px;

		@mixin atSmall{
			margin-left: 22px;
		}

		@mixin atMedium{
			margin-left: 24px;
		}
	}

	i{
		position: absolute;
	}

	&:hover i{
		animation: lift 1s ease-in-out 0s infinite;
	} 
}

@keyframes buzzing {
    0% {transform: rotate(0deg);}
    5% {transform: rotate(-15deg);}
    10% {transform: rotate(0deg);}
	15% {transform: rotate(15deg);}
	20% {transform: rotate(0);}
	25% {transform: rotate(-15deg);}
    30% {transform: rotate(0deg);}
	35% {transform: rotate(15deg);}
	40% {transform: rotate(0);}
	100% {transform: rotate(0);}			
}

@keyframes lift {
    0%  {margin-top: 0;}
    25%  {margin-top: -5px;}
    50%  {margin-top: 0;}
	100%{margin-top: 0;}
}
 