.descriptive-section{
	display: flex;
	flex-flow: column;
	
	&.lazyloaded{
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../../assets/images/plank-lighter--600x400.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	@mixin atMedium{
		flex-flow: row;

		&.lazyloaded{
			background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../../assets/images/plank-lighter--1200x800.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
	}

	&__text-box{
		width: 100%;
		height: 50%;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		
		@mixin atMedium{
			justify-content: center;
			width: 50%;
			height: 100%;
			justify-content: center;
			font-size: 1.1rem;
		}

		.section-title{
			text-align: right;
		}

		div{
			flex: 1;
			display: flex;
			align-items: center;
			overflow: scroll;
			text-align: center;
			padding: 0 1rem;
			font-size: 1rem;
			font-weight: 500;
			color: white;
			text-shadow: 2px 2px 4px black;

			@mixin atMedium{
				flex: .5;
				height: 50%;
				align-items: flex-start;
				padding: 2em;
				font-size: 1.2rem;
				text-align: left;
			}

			@mixin atTall{
				font-size: 1.5rem;
			}
		}
	}

	&__text-box--reverse{
		
		@mixin atMedium{
			order: 2;
		}

		.section-title{
			text-align: left;
		}
	}

	&__image{
		width: 100%;
		height: 50%;
		border-top:  10px solid black;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		@mixin atMedium{
			width: 50%;
			height: 100%;
			border-top: none;
			border-left:  15px solid black;
		}
	}

	&__image--reverse{
		
		@mixin atMedium{
			order: 1;
			border-left:  none;
			border-right: 15px solid black;
		}
	}
}

#il-maneggio .descriptive-section__image.lazyloaded{

	background-image: url("../../assets/images/il_maneggio--600x400.jpg");

	@mixin atMedium{
		background-image: url("../../assets/images/il_maneggio--1200x800.jpg");
	}
}

#i-cavalli .descriptive-section__image.lazyloaded{
	background-image: url("../../assets/images/i_cavalli--600x400.jpg");

	@mixin atMedium{
		background-image: url("../../assets/images/i_cavalli--1200x800.jpg");
	}
}