.descriptive-section{
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr;

	@mixin atMedium{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
	}

	&__text-box{
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: stretch;
		font-size: .8rem;
		
		@mixin atMedium{
			justify-content: center;
			font-size: 1.1rem;
		}

		.section-title{
			text-align: right;
		}

		div{
			overflow: scroll;
			text-align: left;
			padding: 2em;
		}
	}

	&__image{
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: center center;
	}

}
