.full-image-section{
	display:  flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	color: gray;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width: 1080px){
	.full-image-section{
		background-size: auto 100%;
	}
}

@media screen and (max-width: 600px){
	.full-image-section{
	    background-attachment: fixed;
	}
}
