.full-image-section{
    z-index: -1;
    position: relative;
	display:  flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

/*     box-shadow: inset 0 1px 5px black, inset 0 -3px 5px black;
 */
    @mixin atTall{
        background-size: auto 100%;
    }

    &__content{
        z-index: 0;
        position: fixed;
    	width: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, .7);
        transform: translate3d(0,0,0);

        @mixin atMedium{
            width:  700px;
            max-height: 500px;
            padding: 2rem 2.5rem;
            border-radius: 5px;
            font-size: 1.1em;
        }
    	
    	&__title{
            color: $orangy;
            font-size: 2rem;
            margin: 0 0 .75rem 0;
            text-align: center;

            @mixin atMedium{
                display: inline;
                font-size: 2.3rem;
            }
        }

        &__title--yellow{
            color: $yellowy;
        }

        &__text{
            display: inline;
            line-height: 1.2em;
            text-align: center;

            @mixin atMedium{
                font-weight: 100;
                font-size: 1.1rem;
                line-height: 1.5em;
            }

            span{
                color: $orangy-lighter;
                font-weight: 800;
            }
        }

        &__text--yellow{
            span{
                color: $yellowy-lighter;
            }
        }
    }

    &__content--slidein{
        width:  50%;

        @mixin atSmall{
            height: 100%;
        }

        @mixin atMedium{
            height: auto;
            max-height: 500px;
        }            
    }
}

#trekking-a-cavallo.lazyloaded{
    background-image:url('../../assets/images/trekking_a_cavallo--1200x800.jpg');
}

#pony-game.lazyloaded{
    background-image:url('../../assets/images/pony_games--1200x800.jpg');
}

#corsi-equitazione.lazyloaded{
    background-image: url('../../assets/images/ranch_cavalli--1200x800.jpg');
}

#valle-arroscia.lazyloaded{
    background-image: url('../../assets/images/la_valle--1200x800.jpg');
}
