.full-image-section{
	display:  flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	color: gray;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width: 1080px){
	.full-image-section{
		background-size: auto 100%;
	}
}

@media screen and (max-width: 568px){
	.full-image-section{
	    background-attachment: scroll;
	}
}

#home{
	background-image:url('/assets/images/erik-cid-224163.jpg');
}

#pony-game{
	background-image:url('/assets/images/filipe-dos-santos-mendes-195654.jpg');
}

#trekking-a-cavallo{
	background-image:url('/assets/images/greta-scholderle-moller-109089.jpg');
}

#lavoro-in-piano{
	background-image: url('/assets/images/ranch-cavalli-2.jpg');
}
