#istruttori{
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 1fr 1fr;

	@mixin atSmall{
		grid-template-rows: 1fr 4fr 4fr;
		grid-template-columns: 1fr;	
		grid-gap: 1em;
		font-size: .8em;
	}

	.section-title{
		grid-column: 1 / span 2;		

		@mixin atSmall{
			grid-column: 1 / 1;	
		}
	}

	.istruttore{
		display:  flex;
		flex-flow: column;
		justify-content: start;
		align-items: center;
		padding: .5em 2em;

		&__element{
			margin: 0;
		}

		h2{
			margin: 1em 0;
		}

		p{
			text-align: center;
			margin-top:  2em;
		}

		@mixin atSmall{
			picture{order: 1;}
			h2{order: 2; margin: 0;}
			p{order: 3;}
		}
	}

}
