#istruttori{
	width: 100%;

	@mixin atSmall{
		font-size: .8em;
	}

	.istruttore{
		width: 50%;
		float: left;
		display:  flex;
		flex-flow: column;
		justify-content: start;
		align-items: center;
		margin: 0 0 0 -50vw;
		padding: .5em 2em;

		&__element{
			margin: 0;
		}

		h2{
			margin: 1em 0;
		}

		p{
			text-align: center;
			margin-top:  2em;
		}

		@mixin atSmall{
			width: 100%;
			margin: 0;

			picture{order: 1;}
			h2{order: 2; margin: .5em 0;}
			p{order: 3; margin: 0;}
		}	
	}

	.istruttore--reverse{
		float: right;
		margin: 0 -50vw 0 0;

		@mixin atSmall{
			margin: 0;
		}
	}

}
